.offer{
    width: 100%;
    height: 500px;
}
.offer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
.right-line h1{
    font-weight: 500;
    font-size: 23px;
    color: var(--grey-link);
    letter-spacing: 2px;
    display: flex;
    text-align: end;
    line-height: 32px;
}