*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: sans-serif;
}
html{
  scroll-behavior: smooth;
}
.container{
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 10px 10px;
}
:root{
  --grey-link:#808080;
  --wht: #fff;
  --black: #333;
  --wht2: #FAF5F1;
  --black2: #4F4A45;
  --orange: #D4772C;
}
